---
description: index page body fragment
page: default.html
name: index.html
title: Welcome to Dimple!
callback: index.js
---

<div class="container container--centered container--primary">
    <h1>Welcome to Dimple</h1>
</div>
<div class="container-flex">
    <p class="container-flex__item big-text">Create awesome static websites
        <br> using just HTML, CSS and JavaScript!</p>
</div>
<div class="container-flex container-flex--light big-text">
    <p class="container-flex__item">Everything you always wanted<br>in a static site generator... but less!</p>
</div>
<div class="container-flex container-flex--dark big-text">
    <p class="container-flex__item">
        No new templaate language to learn!<br>
        No React!<br>
        No Angular!<br>
        No View!<br>
        No Go!
    </p>
</div>