<!--
description: index page body fragment
page: default.html
name: index.html
title: Welcome to Trio!
callback: index.js
-->

<div class="container container--centered container--primary">
    <h1>Welcome to Trio</h1>
</div>
<div class="container-flex index-just">
    <p class="container-flex__item big-text">Create awesome static websites
        <br> using just HTML, CSS and JavaScript!</p>
</div>
<div class="container-flex container-flex--light big-text">
    <p class="container-flex__item">Everything you always wanted<br>in a static site generator... but less!</p>
</div>
<div class="container-flex container-flex--dark big-text">
    <p class="container-flex__item">
        No expensive servers to run and maintain!<br>
        No new templating language to learn!<br>
        No Angular!<br>
        No React!<br>
        No View!<br>
        No Ruby!<br>
        No Go!
    </p>
</div>