<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trio SSG Test</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link data-trio-link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- fragment target start -->
    <header data-trio-include="header.html"></header>
    <!-- fragment target end -->
    <!-- <h1>Trio SSG Test</h1> -->
    <!-- fragment target start -->
    <div data-trio-fragment-body=""></div>
    <!-- fragment target end -->
    <!-- fragment target start -->
    <footer data-trio-include="footer.html"></footer>
    <!-- fragment target end -->
</body>

</html>