.index-just {
    background-color: #fff;
    background-image: url("../media/html-css-js.jpg");
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bold;
    filter: opacity(.5);
}