.index-just {
    background-color: #fff;
    background-image: url("../media/html-css-js.jpg");
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.index-just__three-pillars {
    font-weight: bold;
    // filter: blur(5px);
    background-color: rgba($color: #ffffff, $alpha: .3);
    color: rgba($color: #000000, $alpha: 0.8);
}